.card.py-4.h-100
    .card-body.text-center
        i.card-icon.mb-2(v-bind:class='icon_type_class')
        h4.title.text-uppercase.m-0 {{ contact_type_name }}
        hr.line.my-4.mx-auto
        .contact-text.small {{ contact }}