div
    grayscale-navbar(page_title='Grayscale' v-bind:links="[{url:'#about', content: 'About'}, {url:'#projects', content: 'Projects'}, {url:'#signup', content: 'Signup'}]")
    grayscale-header(v-bind:section_title="{title:'grayscale title', content:'content safdasdfsadfasdf dasfsafd as fdsf asfg asgdfsgdfh dhfdgh f'}")
    grayscale-about(image_url='assets/img/ipad.png' title='About title' content='About content of fjdaisfjsdo sdifason d sngoasn  sfapmf afsiof  safnsafmosa safn nosdf no sdfsd sdfdsf fdsf sdf fd sdf d  fsdfdsfds sdfsdf sdf df sdf fds f sdf dsf')
    description-section-container.mt-5.mb-5(v-bind:descriptions="[{title:'title1', content:'content safdasdfsadfasdf dasfsafd as fdsf asfg asgdfsgdfh dhfdgh fdgh gh gfhgfhfd hfdghfd hfg hfdhg df hgf dshhs hs lnst h tlhn dfl;n lf;gn ln ', image_url: '/assets/img/bg-masthead.jpg', image_alt: 'image alt'},{title:'title2', content:'content', image_url: 'assets/img/demo-image-01.jpg', image_alt: 'image alt'}]")
    grayscale-signup(background_image_url='../assets/img/bg-signup.jpg')
    grayscale-contact(address='4923 Market Street, Orlando FL' email='hello@yourdomain.com' phone='+1 (555) 902-8832' v-bind:icon_links="[{url: '', class: 'fab fa-twitter'}, {url: '', class: 'fab fa-facebook-f'}, {url: '', class: 'fab fa-github'}]")
    black-footer(content='copyright')
