section.signup-section
    .container.px-4.px-lg-5
        .main-row.row.gx-4.gx-lg-5
            .col-md-10.col-lg-8.mx-auto
                dynamic-component(
                    v-bind:component_infos='title_section'
                )
                contact-form